.container {

}

h1 {
    font-weight: 500;
    font-size: 31px;
}

p {
    font-weight: 500;
    font-size: 18px;
}

#logo {
    max-width: 100%;
    object-fit: contain;
}

#content {
  
}

.ar-screen-01 {
    width: 537px;
    height: 537px;
    object-fit: contain;
}
.destination-01 {
    width: 348px;
    height: 348px;
    object-fit: contain;
}

.ar-screen{
    width: 348px;
    height: 348px;
    object-fit: contain;
}

.scan-screen{
    width: 348px;
    height: 348px;
    object-fit: contain;
}

.combined-shape {
    width: 430.1px;
    height: 430.1px;
    object-fit: contain;
    position: absolute;
    background-color: #131313;
  }

.iphone-isometric{
    max-width: 100%;
    object-fit: contain;
}

.corner-piece-section-1 { 
    width: 194.2px;
    height: 194px;
    object-fit: contain;
    position: relative;
    padding: 0 auto;
  }

.landing-page {
    background-color: #4262FF;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
    margin-top: 105px;
}

.about-section {
    background-color: #f3f3f3;
    height: 100vh;
    width: 100vw;
}

.about-section #case-study-btn{
    width: 159.5px;
    height: 47px;
    border-radius: 10px;
    background-color: #4262ff;
    font-size: 14px;
    color: #ffffff;
}

.about-section h1 {
    width: 380px;
    height: 84px; 
}

.about-section p {
    width: 380px;
    height: 132px;
}

.how-it-works {
    background-color: #F3f3f3;
    height: 100vh;
    width: 100vw;
}

.how-it-works h3 {
    font-size: 23px;
    width: 348px;
}

.how-it-works p {
    width: 348px;
    height: 100%;
    font-size: 18px;
}

.how-content {
    display: flex;
}

.video-section {
    background-color: #131313;
    height: 100vh;
    width: 100vw;
}

.video-section p {
    width: 380px;
    height: 132px;
}

.purhcase-section {
    background-color: #FFCE43;
    height: 100vh;
    width: 100vw;
}
 .purhcase-section p {
     color: #131313;
     font-size: 18px;
 }