* {
    font-family: sofia-pro,sans-serif;
    font-weight: 400;
}

p {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2160 - 320)));
    font-size: calc(18px + (25 - 18) * ((100vw - 1024px) / (2160 - 1024)));
    line-height: 1.56;
    width: 348px;
    margin-bottom: 40px;
}

h1 {
    font-size: calc(25px + (34 - 25) * ((100vw - 320px) / (2160 - 320)));
}

iframe {
    max-width: calc(278px + (912 - 278) * ((100vw - 320px) / (2160 - 320)));
    max-height: calc(161px + (586 - 161) * ((100vw - 320px) / (2160 - 320)));
}
/* LANDING */

.logo {
    max-width: calc(244px + (379 - 244) * ((100vw - 320px) / (2160 - 320)));
    object-fit: contain;
}

.landing-page {
    background-color: #4262FF;
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 1em;
    align-content: center;
    justify-content: center;
}

.landing-page h2 {
    color: #ffffff;
    margin-top: 105px;
    font-size: calc(15px + (25 - 15) * ((100vw - 320px) / (2160 - 320)));
}

.launch-screen {
    max-width: calc(105px + (237 - 105) * ((100vw - 320px) / (2160 - 320)));
    object-fit: contain;
    height: auto;
    width: 100%;
}

 /* ABOUT */

.about-section {
    background-color: #f3f3f3;
    height: 100vh; 
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.about-section p{
    margin-bottom: 40px;
}

.about-section h1 {
    margin-bottom: 40px;
}


#about-columns {
    display: grid;
    grid-template-columns: none;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.about-section #case-study-btn{
    width: 159.5px;
    height: 47px;
    border-radius: 10px;
    background-color: #4262ff;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

/* HOW */

.how-section {
    background-color: #F3f3f3;
    display: grid;
}

#how-content {
    display: grid;
    margin-bottom:90px;
}

#how-content h1 {
    display: grid;
    justify-content: center;
}

#onboard {
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

#onboard img {
    max-width: calc(175px + (200 - 175) * ((100vw - 320px) / (2160 - 320)));
    height: auto;
    width: 100%;
    object-fit: contain;
}

.how-columns {
    display: grid;
    grid-template-columns: none;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
/* VIDEO */

.video-section {
    background-color: #131313;
    height: 100vh;
    width: 100vw;
    display: grid;
}

#video-content {
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

/* PURCHASE */
.purhcase-section {
    background-color: #FFCE43;
    height: 100vh;
    width: 100vw;
    display: grid;
}

#purchase-content {
    display: grid;
 }

/* DESKTOP */
@media screen and (max-width: 2160px) { 

    p {
        font-size: 18px;
        
    }
        
    .how-section {
        background-color: #F3f3f3;
        width: 100vw;
        height: 100vh;
    }

    .how-columns {
        grid-template-columns: repeat(3, 1fr);
    }

    #about-columns {
        grid-template-columns: repeat(2, 1fr);
        
    }

}

/* TABLET */
@media screen and (max-width: 1024px) {

  /* ABOUT */

  #about-columns {
    grid-template-columns: none;
    text-align: center;
}

  .about-section {
    align-items: center;
    justify-items: center;
    grid-gap: 1em;
    align-content: center;
    justify-content: center;
}

.about-section h1 {
    height: auto;
}

.about-section p {
    width: 348px;
    height: auto;
    line-height: 1.56;
    text-align: center;
}

  /* HOW */

#how-content {
    align-items: center;
    justify-items: center;
    grid-gap: 1em;
    align-content: center;
    justify-content: center;
}

.how-section {
    background-color: #F3f3f3;
    width: 100vw;
    height: auto;
}

.how-section h1 {
    height: auto;
}

.how-section h3 {
}

.how-section p {
    width: 276.5px;
    height: auto;
    line-height: 1.56;
    text-align: center;
}

.how-columns {
    grid-template-columns: none;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 1em;
    align-content: center;
    justify-content: center;
    /* overflow: auto;
    white-space: nowrap; */
}



/* VIDEO */


/* PURCHASE */

#purchase-content {
    align-items: center;
    justify-items: center;
    grid-gap: 1em;
    align-content: center;
    justify-content: center;
}

.purhcase-section h1 {
    width: 276.5px;
    height: auto;
    text-align: center;
}

 .purhcase-section p {
    width: 276.5px;
    height: auto;
    line-height: 1.56;
    text-align: center;
 }
}

/* MOBILE */
@media screen and (max-width: 414px) {
    
    .landing-page h2 {
        width: 180px;
        line-height: 1.56;
    }

    /* ABOUT */

    #about-columns {
        grid-template-columns: none;
        text-align: center;
    }

    #about-section {
        align-items: center;
        justify-items: center;
        grid-gap: 1em;
        align-content: center;
        justify-content: center;
    }
    
    .about-section h1 {
        height: auto;
        margin-bottom: 40px;
    }
    
    .about-section p {
        width: 276.5px;
        height: auto;
        line-height: 1.56;
        text-align: center;

    }
    
    /* HOW */

    #how-content {
        align-items: center;
        justify-items: center;
        grid-gap: 1em;
        align-content: center;
        justify-content: center;
    } 

    .how-section {
        background-color: #F3f3f3;
        width: 100vw;
        height: auto;
    }

    .how-section h1 {
        height: auto;
        margin-bottom: 20px;
    }
    
    .how-section h2 {
        height: auto;
        width: 276.47px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .how-section p {
        width: 276.5px;
        height: auto;
        line-height: 1.56;
        text-align: center;
    }

    /* VIDEO */


    /* PURCHASE */

    #purchase-content {
        align-items: center;
        justify-items: center;
        grid-gap: 1em;
        align-content: center;
        justify-content: center;
    }

    .purhcase-section h1 {
        width: 276.5px;
        height: auto;
        text-align: center;
    }

     .purhcase-section p {
        width: 276.5px;
        height: auto;
        line-height: 1.56;
        text-align: center;
     }

    } 
